 <%= simple_form_for :search, url: artist_search_pages_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <div class="search-form-inline">
            <label>Invite your mates</label>

            <input class="form-control search-input" type="text" name="query" id="query" placeholder="Bob" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      <% end %>
