 <% if @discogs.authenticated? %>
  <ul>
    <li><a href="/pages/artist_search">Search Artist by Label</a></li>
    <li><a href="/pages/label_search">Search Label by Artist</a></li>
  </ul>
<% else %>
  <p> Authenticate Discogs.com account</p>
<% end %>
