 <% if @discogs.authenticated? %>

    <h2><a href="/pages/artist_search">Search Artist by Label</a></h2>
    <h2><a href="/pages/label_search">Search Label by Artist</a></h2>

<% else %>
  <p> Authenticate Discogs.com account</p>
<% end %>
