.home-btn {
  transform: skew(-4deg, -4deg) rotate(4deg);
  transform-origin: center center;
  a {
    text-align: center;
    background-color: #32363a;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    min-width: 7.5rem;
    width: auto !important;
    padding: 2px 16px;
    // padding-right: 16px;
    cursor: pointer;
    // transform: skew(-5deg, -5deg) rotate(5deg);
    // transform-origin: center center;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
      color: white;
      text-decoration: none !important;
    }
  }

}
// .home-btn:hover {
//   cursor: pointer;
//   opacity: 0.9;
//   color: white;
// }


