
.navbar-lewagon {
  justify-content: space-between;
  background: pink;
  h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    margin: 0 auto;
    line-height: .9;
    color: lightpink;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
