
.navbar-lewagon {
  justify-content: space-between;
  background: gray;
  h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 4em;
    margin: 0 auto;
    line-height: .9;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
